.imageDiv {
  margin: 0% 0%;
}
.imageDiv img {
  height: 600px;
  width: 650px;
}

.signup_container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
}

.signupInputForm {
  width: 270px;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.signupInputForm input {
  border: none;
  border-bottom: 1px solid grey;
  padding: 10px 0px;
  outline: none;
}

/* style={{ border: 'none', borderRadius: '4px', backgroundColor: '#1F51FF', color: 'white', cursor: 'pointer' }} */

.signupInputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_bottom {
  display: flex;
  align-items: center;
}

.login_bottom input {
  border: none;
  background-color: #1f51ff;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 13px 30px;
  margin-right: 50px;
}

.login_bottom input:hover {
  background: #a020f0;
}

.login_bottom p {
  text-align: center;
}

.login_bottom p a {
  color: #1f51ff;
  text-decoration: none;
}

.login_bottom p a:hover {
  color: #a020f0;
}

@media screen and (max-width: 1000px) {
  .signup_container {
    flex-direction: column;
    align-items: center;
  }

  .imageDiv img {
    display: flex;
    height: 300px;
    width: 350px;
  }

  .signupInputDiv {
    margin: 10px 0px;
  }
}
